# Node dependencies
node_modules/

# Babel / Webpack cache
**/.cache/
frontend/node_modules/.cache/

# Build output
/frontend/build/
frontend/dist/
backend/build/
backend/dist/

# Environment variables / secrets
*.env
kraft-kord/backend/kraft-kord/api-token.txt

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Editor configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
